
.gallery-dish {
    width: 1440px;
    margin: 0 auto;
}

.gallery-h2 {
    width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
    color: black;
    font-size: 54px;
    line-height: 62px;
    font-weight: 400;
}

.gallery-span {
    color: $orange-text;
}

.gallery-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.gallery-item {
    margin-bottom: 30px;

}

.gallery-list2 {
    gap: 30px;
    margin-bottom: 30px;
}

.cook {
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.cook-list {
    display: flex;
    justify-content: center;
    gap: 32px;
}














.gallery-list2 {
    display: flex;
}