.history-wrapper {
    width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
    height: 600px;
    position: relative;
}

.history-list {
    margin-left: 166px;
    width: 444px;
}

.history-title {
    font-size: 54px;
    line-height: 62px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.history-h2 {
    color: $orange-text;
}

.history-descrip {
    color: $grey;
    font-size: 16px;
    line-height: 21.79px;
    text-align: center;
    margin-top: 21px;
}

.food-paragraph {
    color: $orange-icon;
    font-size: 40px;
    line-height: 54px;
    font-weight: 400;
}

.food-paragraph2 {
    color: black;
    font-size: 20px;
    line-height: 27px;
    margin-top: -8px;
}

.food-list {
    display: flex;
    margin-top: 65px;
    margin-left: 68px;
    justify-content: space-between;
    width: 300px;
}

.food-item {
    width: 100px;
    text-align: center;
}

.image-one {
    position: absolute;
    top: 91px;
    right: 429px;
}

.image-two {
    position: absolute;
    top: 200px;
    right: 170px;
}


.image-free {
    position: absolute;
    z-index: -1;
    top: 159px;
    right: 170px;
    top: 0px;
    right: 260px;
}

.best-wrapper {
    background-image: url('/img/bg.png');
    width: 1440px;
    height: 320px;
    margin: 0 auto;
    position: relative;
}

.best-rest {
    background-color: black;
}

.button-best {
    position: absolute;
    right: 197px;
    top: 150px;
}

.best-paragraph1 {
    font-size: 52px;
    line-height: 60px;
    color: $orange-text;
    padding-left: 165px;
    padding-top: 80px;
}

.best-paragraph2 {
    font-size: 27px;
    line-height: 32px;
    color: $white;
    font-weight: 700;
    padding-left: 165px;
    padding-top: 10px;
}